[submodule "archiso"]
	path = archiso
	url = https://git.archlinux.org/archiso.git/
[submodule "monero-gui"]
	path = monero-gui
	url = https://github.com/monero-project/monero-gui
[submodule "kovri"]
	path = kovri
	url = https://github.com/monero-project/kovri
