[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/monero-wallet-gui
Icon=/usr/share/icons/monero-symbol-1280.png
StartupNotify=false
Categories=X-Folders;
OnlyShowIn=XFCE
Name=Monero Wallet
Comment=Monero Wallet